@charset "UTF-8";
@font-face {
    font-family: 楷体;
    src: url("../Fonts/simkai.ttf");
}
*{
    font-family: 楷体, serif;
    margin: 10px;
}
body{
    text-align: center;
    font-size: 20px;
}
#title{
    text-align: center;
    font-size: 50px;
}
table{
    align-content: center;
}
a:link{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #1abc89;
    font-size: 50px;
}
ul>li{
    font-size: 20px;
    align-content: center;
    list-style-position: inside;       /*让前面的数字居中紧挨着文字*/
    padding-top: 100px;
}

ul ol{
    display: none;
}
:target{
    display: block;
}

